<ion-pane class="Payment">
<div class="bar bar-header bar-light">
  <h1 class="title"><img src="img/small_logo.png" /></h1>
</div>
<ion-view >

<div class="container" style="margin-top: 80px;">
<ul class="list">
<li class="item item-text-wrap">
    <h1>Payment Successfully Placed!</h1>
    <h2>Your order id is: 500005178.</h2>
    <p>Your order is currently being processed. You will receive an order confirmation email shortly with the expected delivery date for your item.</p>
</li> 
</ul>

</div>
</ion-view></ion-pane>