<script id="intro.html" type="text/ng-template"> 
      <ion-view left-buttons="leftButtons" right-buttons="rightButtons" class="homepage">

        <div>
          <ion-slide>            
            <div id="logo">
              <img src="img/logo1.png" />
            </div>
            <div class="square">
              <div class="list">
   <label class="item item-input item-stacked-label" style="border:none">
   <span class="input-label">Consumer No.</span>
   <input type="text" placeholder="Consumer No.">
   </label>

   <label class="item item-input item-stacked-label">
   <span class="input-label">Mobile No.</span>
   <input type="text" placeholder="Mobile No">
   </label>
   <div class="padding">
        <button class="button button-block button-positive" >Submit</button>
      </div></div></div></ion-slide> 
        </div>
        <div class="skipIntro">
        <a href="#/app/home" nav-transition="android">Skip Intro </a></div>
        </div>
      </ion-view>
    </script>