<style type="text/css">
.Collection .item {text-align: center;}
.Collection .bar .title {height: auto;}
.Collection .pane ul {margin-top: 60px;}
.Collection .bar .title {text-align: center;}
.Collection .bar {background-position:top;}
</style>


<ion-pane class="Collection">
<div class="bar bar-header bar-light">
  <h1 class="title"><img src="img/small_logo.png" /></h1>
</div>
<ion-view ng-controller="AgendaCtrl">
<ul class="list">
<li class="item">
    <b>Payment Amount of : <span>&#8377</span> 4912.00</b>
</li>    
<li class="item">
    <img src="img/quick_pay.jpg" />
</li>
<li class="item">
    <img src="img/credit_card.jpg" />
</li>
<li class="item">
    <img src="img/dabit_Card.jpg" />
</li>
<li class="item">
    <img src="img/net_banking.jpg" />
</li></ul>
</ion-pane></ion-view>