 .homepage .slider {
            height: 100%;
          }
      .homepage .slider-slide {
            padding-top: 30px;
            color: #fff;
            /*background-color:#071e2e;*/
            text-align: center;

            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
            font-weight: 300;
          }

          .padding {padding:10px 0px 10px 10px;}
          .loginForms  {
            input {
            border: solid 1px #ccc;
            padding-left: 10px;
            margin: 5px 0px;
           }
            .item {
              border-width:0px;
            }
            .item-input {
              padding-top:0px;
            }
          }

          .square { background: #fff; width: 300px; margin: 0 auto; border-radius: 10px;  padding: 20px 0px 0px; }

          .square .button.button-positive { background-color: #fe1413;}

          .homepage #logo {
            margin: 30px 0px;
            text-align: center;
          }

          .homepage #list {
            width: 170px;
            margin: 30px auto;
            font-size: 20px;
          }
          .homepage #list ol {
            margin-top: 30px;
          }
          .homepage #list ol li {
            text-align: left;
            list-style: decimal;
            margin: 10px 0px;
          }

           .homepage h3:first-child, .h3:first-child {
              color: #fff;
              margin-top: 0;
          }

           .homepage h5:first-child, .h3:first-child {
              color: #fff;
              margin-top: 0;
          }

          .skipIntro {position: absolute; bottom:100px; /*background: #042a44;*/ padding: 10px; z-index: 999; text-align: center; width: 80%; margin: 0 auto; left: 10%; }

          .skipIntro a {text-decoration: none; color: #fff;}



          /* Empty. Add your own CSS if you like */

.star .item-content {
  background-color: #EEE8D6 !important;
}



.splash {
  
  z-index: -9;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

.branding {
  width:50%; 
  max-width: 200px; 
  margin: 0 auto; 
  text-align:center;
  margin-top:20px;
}

.pro-detail {width: 100%;}

.tabs-positive > .tabs, .tabs.tabs-positive {
    background-color: #042a44;
    background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
    border-color: #042a44;
    color: #fff;
}
.homepage {background: url(../img/bg1.jpg) left top no-repeat; background-size: 100%;}
.bar .button.button-clear .icon::before, .bar .button.button-clear.icon::before, .bar .button.button-clear.icon-left::before, .bar .button.button-clear.icon-right::before, .bar button.button-clear .icon::before, .bar button.button-clear.icon::before, .bar button.button-clear.icon-left::before, .bar button.button-clear.icon-right::before {font-size: 20px;
    line-height: 30px;
    padding-right: 5px;}

.bar.bar-positive {    
  background-color: #042a44;
    background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
    border-color: #042a44;
    color: #fff;
}

.title-center {text-align: center !important;}
.slider {height: 98%; text-align:center;}
.scroll {height: 98%;}

.homestrip {position: absolute; bottom: 0px; width: 101%; text-align:center; background: #042a44; border:none; color: #fff; font-size: 16px;}
.homestrip a {color: #fff; text-decoration: none;}


input.error {
  border: solid 1px red;
}

.help-inline {
  color: #b94a48;
}

