.Collection .item {text-align: center;}
.Collection .bar .title {height: auto;}
.Collection .pane ul {margin-top: 60px;}
.Collection .bar .title {text-align: center;}
.Collection .bar {background-position:top;}