<ion-pane class="Payment checkout">
    <ion-view>
        <div class="bar bar-header bar-light">
            <a class="button icon-left ion-chevron-left button-clear" href="#/app/payment"> Back</a>
            <h1 class="title"><img src="img/small_logo.png" /></h1>
        </div>
        <div class="container">
            <ul class="list">
                <li class="item">
                    <b>Payment Amount of : <span>&#8377</span> {{item.outstanding_amount}}</b>
                </li>
            </ul>
            <div class="row">
                <!-- You can make it whatever width you want. I'm making it full width
on <= small devices and 4/12 page width on >= medium devices -->
                <div class="col-xs-12 col-md-4" style="padding-left:0px;padding-right:0px;">
                    <!-- CREDIT CARD FORM STARTS HERE -->
                    <div class="panel panel-default credit-card-box">
                        <div class="panel-heading display-table">
                            <div class="row display-tr">
                                <h3 class="panel-title display-td">Payment Details</h3>
                                <div class="display-td">
                                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                           
                        <form name="loginForm" class="loginForms" validate ng-submit="thanks()">
                        <div class="list" style="padding-right: 10px;">
                         <label class="item item-input item-stacked-label" style="border:none">
                                <span class="input-label">Card Number</span>
                                <input type="number" name="ca" id="consumerNo" maxlength="10" ng-model="loginData.ca" ng-class="{true: 'error'}[submitted && loginForm.ca.$invalid]" placeholder="Valid Card Number" required>
                                <span class="help-inline" ng-show="submitted && loginForm.ca.$error.required">Card Number Required</span>
                        </label>
                       <label class="item item-input item-stacked-label">
                        <div class="col-xs-7 col-md-7" style="padding-left: 0px; padding-right: 0px;">
                       <div class="form-group">
                                            <label for="cardExpiry"><span class="hidden-xs input-label">EXPIRATION</span><span class="visible-xs-inline input-label">EXP DATE</span> </label>
                                            <select class="dcExpMonth form-control col-md-5  combobox required" id="dcExpMonth" name="ccExpiryMonth" ng-class="{true: 'error'}[submitted && loginForm.ccExpiryMonth.$invalid]" style="margin-top:6px;">
                                                <option value="0">MM</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>



                                           
                                            <select class="dcExpYear form-control  col-md-5 combobox required" id="dcExpYear" name="ccExpiryYear"  ng-class="{true: 'error'}[submitted && loginForm.ccExpiryYear.$invalid]" style="margin-top:6px;">
                                                <option value="0">YY</option>
                                                <option value="2016">2016</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                                <option value="2027">2027</option>
                                                <option value="2028">2028</option>
                                                <option value="2029">2029</option>
                                                <option value="2030">2030</option>
                                                <option value="2031">2031</option>
                                                <option value="2032">2032</option>
                                                <option value="2033">2033</option>
                                             
                                            </select>
                                             <span class="help-inline" ng-show="submitted && loginForm.ccExpiryMonth.$error.required">Expiry Month Required</span>
                                             <span class="help-inline" ng-show="submitted && loginForm.ccExpiryYear.$error.required">Expiry Year Required</span>
                                        </div>
                                        </div>
                                             <div class="col-xs-5 col-md-5 pull-right" style="padding-left: 0px; padding-right: 0px;">
                                        <div class="form-group">
                                         <label class="item item-input item-stacked-label" style="border:none">
                                            <span class="input-label">CV Code</span>
                                            <input type="number" name="cv" maxlength="10" ng-model="cv" ng-class="{true: 'error'}[submitted && loginForm.cv.$invalid]" placeholder="CV code" required>
                                            <span class="help-inline" ng-show="submitted && loginForm.ca.$error.required">CV code Required</span>
                                        </label>
                                           
                                        </div>
                                    </div>
                                     <div class="row">
                                    <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                                       <ion-list>
                                       <div class=" item-text-wrap text-left" style=" font-size: 14px;">

                                      <ion-checkbox ng-model="filter.red"><span class="text-left" style="text-align: left;">Save this card for faster checkout </span></ion-checkbox>
                                        </div>
    
                                    </ion-list>
                                    </div>
                                </div>
                    </label>
                    <div class="padding">
                        <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="submitted=true">PAY NOW</button>
                        </div>
               </div>
            </form>
                        </div>
                    </div>
                    <!-- CREDIT CARD FORM ENDS HERE -->
                </div>
            </div>
        </div>
    </ion-view>
</ion-pane>
