.collection_page .banners  img {width: 100%; }
.collection_page .list {margin-bottom: 0px; padding: 0px;}
.collection_page .banners {margin-bottom: 0px; padding: 0px;  border-style: none;
    border-width: 0; background-color:#fff}
.collection_page .item a {padding: 0px;}
.hamburger {width: 45px; padding-left: 0px;}
.bar .title {text-align: left; padding-left:20px;}
.usage {font-size: 20px; color:#fe1413;}
.item .billing {font-size: 20px; line-height: 40px;}
.billing_cycles {margin-top: 0px; }
.billing_cycles .item {background-color:#fe1413; color: #fff; font-size: 22px;}
.billing_cycles .item span {font-size: 16px;}
.billing_cycles .item h4 {font-size: 18px; color: #fff; font-weight: normal;}
.bar.bar-positive {background-color:#fe1413;}
.latest-bill .item {font-size: 20px; line-height: 30px; text-align: center; color: #000; }
.latest-bill .item h3 {color:#fe1413;font-size: 22px; font-weight: normal; }
.item .unbill-amount {font-size:18px; text-align: left; margin-top: 20px; border-top:solid 1px #ccc;}
.col-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.richarge {background: #324644; color: #fff;}

.collection_page .btns {    padding: 4px 15px;
    background: red;
    color: #fff; margin-right: 5px;}